

    .main-background {
        background-image: url("rana-sawalha-364253-unsplash@1X.png");
        width: 100% ;
        height: 912px;
        background-repeat: no-repeat;
        background-size: cover;

      }
        .clearfix {
            content: "";
            clear: both;
        }
        .top {
            height: 55px;
            background: black;
            opacity: .5;
        }
        .section-form {
            position: absolute;
            background-color: white;
            width: 450px;
            height: 585px;
            top: 220px;
            left: 400px;
            margin: auto;
            border-radius: 3%;
        }
        .authorization {
            width: 326px;
            margin: 20px 60px 20px 60px;
        }
        .sign {
            float: left;
            font-size: 18px;
            margin-bottom: 20px;
        }
        .log {
             float: right;
             color: #3cb878;
            margin-bottom: 20px;
        }
        .social-buttons {
            width: 326px;
            margin: 30px 60px ;
        }
        .logo-facebook {
            float: left;
            width: 157px;
            height: 46px;
            background-color: #305db8;
            font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
            font-size: 16px;
            color: white;
            text-align: right;
            border: 0;
            margin-bottom: 30px;
        }
        .logo-Google {
            float: right;
            width: 157px;
            height: 46px;
            background-color: #df4a32;
            font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
            font-size: 16px;
            color: white;
            text-align: right;
            border: 0;
            margin-bottom: 30px;
        }
        .box-form {
            width: 322px;
            height: 46px;
            margin: 15px 60px 0 60px;
            border-color: #eaeaea;

        }
        #check {
            background: lime;
            margin-left: 60px;
            margin-top: 10px;
        }
        .terms {
            color: lime;
        }
        .submit {
            width: 330px;
            height: 50px;
            background-color: #3cb878;
            color: white;
            font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
            font-size: 16px;
            text-align: center;
            margin: 15px 60px 20px 60px;
            border: 0;
            border-radius: 3%;
        }