

    .container {
        width: 100vw;
        /*margin: 0 auto;*/
    }
    /***********F L E X**********/
    .navigation {
        display: flex;
        height: 70px;
        background-color: #1d2124;
        justify-content: space-between;
        align-items: center;
    }
    .logo-box {
        display: flex;
        align-items: center;
    }
    .img-logo-box {
        width: 68px;
        height: 70px;
        background-color: #1a1d20;
        display: flex;
    }
    .img-logo {
        size: 27px;
        margin: auto;
    }
    .logo {
        font-family: AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: #ffffff;
    }
    .nav-box {
        width: 700px;
        display: flex;
        justify-content: space-between;
    }
    .item  {
        font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
        font-size: 15px;
        color: #ffffff;
        text-transform: uppercase;
    }
    .search {
        width: 68px;
        height: 70px;
        background-color: #1a1d20;
    }
    .fas {
        size: 17px;
        color: #ffffff;
        margin: 27px;
    }
    .back1-img {
        display: flex;
        justify-content: center;
        background-image: url("images/header-bg@1X.png");
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    .back1 {
        width: 660px;
        height: 150px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        align-self: center;
    }
    .legend {
        font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
        font-size: 27px;
        color: #ffffff;
        text-transform: uppercase;
        align-self: center;
    }
    .subscribe {
        font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
        font-size: 18px;
        color: #ffffff;
        width: 170px;
        height: 55px;
        background-color: #89ca62;
        margin-right: 50px;
        border: 0;
        border-radius: 5px;
    }
    .articles {
        font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
        font-size: 18px;
        color: #ffffff;
        width: 170px;
        height: 55px;
        background-color: #14b9d5;
        border: 0;
        border-radius: 5px;
    }
    .first-section {
        width: 1150px;
        margin: 0 auto;

    }
    .header-first-section {
        font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
        font-size: 27px;
        font-weight: bold;
        color: #18b4cf;
        text-align: center;
        margin: 40px;
    }
    .first-section-photo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        /*margin: 0 auto;*/
    }
    .caption {
        font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #353a3d;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    /*************G R I D**********/

    .main-grid-container {
        width: 100vw;
        display: grid;
        grid-gap: 40px;
        margin: 0 auto;
    }
    .back2-img {
        background-image: url("images/html_css_homework_homework6_img_parallax-bg.jpeg");
        background-attachment: fixed;
        background-size: cover;
        width: 100vw;
        height: 598px;
        display: grid;
    }
    .legend2 {
        font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        margin-top: 200px;
        margin-bottom: 50px;
    }
    .line {
        width: 60px;
        height: 3px;
        background-color: #169cb4;
        margin: 0 auto;
    }

    img {
        width: 100%;
    }
    .logo-back2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 75px;
        margin: 60px 305px 205px 305px;
    }
    .header-second-section {
        font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
        font-size: 27px;
        font-weight: bold;
        color: #18b4cf;
        text-align: center;
    }
    .photo-slider {
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        margin: 0 auto;
    }
    .header-third-section {
        font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
        font-size: 27px;
        font-weight: bold;
        color: #18b4cf;
        text-align: center;
    }
    .second-section-photo {
        display: grid;
        width: 1150px;
        margin: 0 auto;
        grid-gap: 40px;
    }
    .top1 {
        grid-column: 1/3;
    }
    .top2 {
        grid-column: 3/4;
    }
    .top3 {
        grid-column: 4/5;
    }
    .photo-in-container-center1 {
        grid-column: 1/3;
        place-self: stretch;
    }
    .photo-in-container-center2 {
        grid-column: 3/5;
     //   place-self: center stretch;
    }
    .ct1 {
        grid-column: 1/3;
    }
    .ct2 {
        grid-column: 3/5;
    }
    .cp3 {
        grid-column: 1/3;
        place-self: stretch;
    }
    .cp4 {
        grid-column: 3/5;
       // place-self: center stretch;
    }
    .ct3 {
        grid-column: 1/3;
    }
    .ct4 {
        grid-column: 3/5;
    }
    .b1 {
        grid-column: 1/2;
    }
    .b2 {
        grid-column: 2/4;
        place-self: center stretch;
    }
    .b3 {
        grid-column: 4/5;
      //  place-self: center stretch;
    }
    .first-photo-section-text {
        font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
        font-size: 14pt;
        color: #5b6469;
        text-align: right;
       /// margin: 20px 50px 20px 40px;
      //  justify-self: stretch;
    }
    .second-section-text {
        font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
        font-size: 14pt;
        color: #5b6469;
        text-align: center;
       /*// margin: 20px 30px 50px 0;*/
       // justify-self: center;
        place-self: center stretch;
    }
    .second-section-header {
        font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #353a3d;
        text-align: right;
    }
    .text {
       // font-size: 16px;
        margin-top: 20px;
    }
    .photo-header {
        font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
        font-size: 18pt;
        font-weight: bold;
        height: 259px;
       // width: 277px;
        text-align: center;
        color: #353a3d;
    }
    .footer {
        /*width: 100vw;*/
        display: grid;
        grid-template-columns: auto  auto;
        height: 80px;
        background-color: #1d2124;
    }
    .copyright {
        font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
        font-size: 13pt;
        color: #ffffff;
        place-self: center;
        padding-right: 100px;
    }
    .container-for-footer-logo {
        place-self: center;
        padding-left: 300px;
    }