    .container {
        width: 1282px;
        margin: 0 auto;
    }
    .logo-box {
        display: inline-block;
        height: 75px;
        width: 290px;
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
        padding-left: 5px;
    }
   .logo {
       font-family: sans-serif;
       font-size: 75px;
       color: #000000;
       text-decoration: none;
   }
   .logo-text {
       font-family: sans-serif;
       font-size: 75px;
       color: #4bcaff;
   }
    .horisont-menu {
        display: inline-block;
        height: 70px;
        width: 1280px;
        background-color: #35444f;
    }
    .navbar-menu {
        display: inline-block;
        text-align: center;
        list-style: none;
        margin: 0;
    }
    .navbar-menu-item {
        display: inline-block;
    }
    .link-item {
        display: inline-block;
        color: #ffffff;
        text-decoration: none;
        font-size: 24px;
        text-align: center;
        padding-top: 20px;
        margin-left: 120px;
    }
    .main-section {
        box-sizing: content-box;
        width: 1281px;
    }
    .left-menu {
        display: inline-block;
        vertical-align: top;
        height: 399px;
        width: 320px;
        border: solid black 2px;
        margin-top: 25px;
        margin-right: 60px;
        list-style: none;
    }
    .left-menu-item {
        text-align: left;
        margin-top: 15px;
        margin-left: 20px;
    }
    .link-item-left {
        display: inline-block;
        color: #495863;
        font-size: 27px;
        text-decoration: none;
        padding: 15px 20px;
    }
    .box-for-img {
        display: inline-block;
        width: 885px;
        height: 529px;
        border: 2px solid black;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    .image {
        margin:  70px 300px;
    }
    .text {
        display: inline-block;
        height: 120px;
        width: 815px;
        font-size: 18px;
        margin-left: 430px;
        text-align: left;
    }
    .footer {
        background-color: #b4b7ba;
        width: 1280px;
        height: 70px;
        margin-bottom: 30px;
    }
    .footer-item {
        display: inline-block;
        font-size: 28px;
        padding-left: 23px;
        padding-top: 22px;
        padding-bottom: 20px;
    }
    .footer-copyright {
        display: inline-block;
        font-size: 24px;
        text-align: right;
        margin-left: 200px;
        margin-right: 10px;
    }