


body {
    width: 100%;
    height: 100%;
    background: deeppink;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: black;
    z-index: 10;
    position: absolute;
    color: gold;
    font-size: medium;
    height: 5%;
    margin: 50px;
    cursor: pointer;
}

.disappear {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, darkgoldenrod 75%);
    z-index: 1;
}

.main-content {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: gold;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}

.crawl {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear infinite;
}

.crawl > .title {
    font-size: 90%;
    text-align: center;
}

.crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
