


    .background-section {
        background-image: url("images/Milan_Holidaysbackground.jpg");
        background-repeat: no-repeat;
    }
    .container {
        width: 100vw;
        margin: 0 auto;
    }
    .clearfix {
        content: "";
        display: table;
        clear: both;
    }
    a {
        text-decoration: none;
    }
    .header {
    width: 78vw;
    height: 50px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    }
    .all-block-logo {
        float: left;
        width: 200px;
    }
    .block-logo {
        background-image: url("images/logo@1X.png");
        background-repeat: no-repeat;
        height: 47px;
        width: 46px;
        float: left;
        margin-right: 15px;
        margin-top: 3px;
    }
    .all-block-logo:hover .block-logo {
        background-image: url("images/logo@1X2.png");
    }
    .all-block-logo:hover .logo {
            color: #f26522;
    }
    .logo-part1 {
        font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier, sans-serif;
        font-size: 29px;
        color: #ffffff;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .logo-part2 {
        display: block;
        float: left;
        font-family: AdobeInvisFont, Verdana-Bold, Courier, sans-serif;
        font-size: 22px;
        color: #ffffff;
        font-weight: bolder;
        text-transform: uppercase;
    }
    /*********C O N T A C T S**********/
    .contacts {
        width: 250px;
        height: 20px;
        float: right;
        margin-top: 15px;
    }
    .our-email {
        font-family: AdobeInvisFont, Verdana-Bold, Courier, sans-serif;
        font-size: 18px;
        color: #ffffff;
        font-weight: bolder;
        margin: 0;
    }
    .our-tel {
        text-align: right;
        font-family: AdobeInvisFont, Verdana-Bold, Courier, sans-serif;
        font-size: 18px;
        color: #ffffff;
        font-weight: bolder;
        margin: 0;

    }
    /* main photo content */
    .main-photo {
        display: table;
        box-sizing: border-box;
        width: 80vw;
        margin: 0 auto;
    }
    .shopping-box {
        display: block;
        position: relative;
        float: left;
        width: 312px;
        height: 200px;
        box-sizing: border-box;
        padding: 2px;
        background: linear-gradient(to top, #000, #fff);
    }
    .sightseeing-box {
        display: block;
        position: relative;
        width: 312px;
        height: 200px;
        float: left;
        margin-left: 68px;
        box-sizing: border-box;
        padding: 2px;
        background: linear-gradient(to top, #000, #fff);

    }
    .food-box {
        position: relative;
        float: left;
        margin-left: 68px;
        display: block;
        width: 312px;
        height: 200px;
        box-sizing: border-box;
        padding: 2px;
        background: linear-gradient(to top, #000, #fff);
    }
    .bars-box {
        display: block;
        position: relative;
        float: left;
        margin-top: 60px;
        width: 312px;
        height: 200px;
        box-sizing: border-box;
        padding: 2px;
        background: linear-gradient(to top, #000, #fff);
    }
    .art-box {
        display: block;
        position: relative;
        float: left;
        margin-left: 68px;
        margin-top: 60px;
        width: 312px;
        height: 200px;
        box-sizing: border-box;
        padding: 2px;
        background: linear-gradient(to top, #000, #fff);
    }
    .walking-box {
        display: block;
        position: relative;
        float: left;
        margin-left: 68px;
        margin-top: 60px;
        width: 312px;
        height: 200px;
        box-sizing: border-box;
        padding: 2px;
        background: linear-gradient(to top, #000, #fff);
    }
    .signature {
        display: block;
        text-align: center;
        font-family: AdobeInvisFont, Verdana-Bold, Courier, sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        margin-top: 20px;
        margin-bottom: 55px;

    }
    .signature:hover {
        color: #f26522;
    }
   .hover-block {
        position: absolute;
        display: none;
        background-color: #f26522;
        font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
        width: 310px;
        height: 63px;
        bottom: -3px;
    }
    .shopping-box:hover .hover-block {
        display: block;
    }
   .sightseeing-box:hover .hover-block {
       display: block;
   }
    .food-box:hover .hover-block {
        display: block;
    }
    .bars-box:hover .hover-block {
        display: block;
    }
    .art-box:hover .hover-block {
        display: block;
    }
    .walking-box:hover .hover-block {
        display: block;
    }
    .hv-price {
        position: absolute;
    }
   .p-hv-block {
       font-size: 10px;
       color: #ffffff;
       margin: 16px 0 2px 21px;
   }
   .p-hv-price {
       font-size: 20px;
       color: #ffffff;
       margin: 0 21px 0 17px;
   }
   .p-hv-transfer {
       display: inline-block;
       color: #ffffff;
       float: right;
       margin: 30px 40px 21px 180px;
   }
   .arrow {
       width:6px;
       height: 6px;
       transform: rotate(760deg);
       background-color: transparent;
       border-top: 2px solid white;
       border-right: 2px solid white;
       margin: 35px 10px 21px 280px;
   }
   /* footer block*/
    .copyright {
        padding-bottom: 15px;
    }
    .copyright {
        font-family: AdobeInvisFont, Verdana-Bold, Courier, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        margin-top: 120px;
    }