


        .main-container {
            margin: 0 auto;
            height: 100%;
        }
        .header {
            display: flex;
            margin: 0 auto;
            background-color: #FFEBC9;
            height: 10vmin;
            justify-content: space-between;
        }
        .logo {
            display: flex;
        }
        .img-logo {
            height: 10vmin;
        }
        .logo-word {
            font-family: ArialMT,AdobeInvisFont,MyriadPro-Regular, sans-serif;
            font-size: 33px;
            font-weight: bold;
            margin: auto;
        }
        .btn-create {
            width: 300px;
            height: 9vmin;
            background-color: #ADA79D;
            font-family: ArialMT,AdobeInvisFont,MyriadPro-Regular, sans-serif;
            font-size: 46px;
            justify-content: center;
            //text-align: center;
            border-radius: 15px;
        }
        .main-content {
            display: flex;
            background-image: url("images/medreforma-v-ukraine-oproverzhenie-mifov-o-straxovoj-medicine@1X.png");
            height: 90vmin;
            justify-content: center;
        }
        .caption {
            font-size: 58px;
            color: white;
            margin: auto;
        }
        .choose-doctor {
            display: none;
            position: fixed;
            z-index: 1;
            width: 70%;
            height: 70%;
            top: 15%;
            left: 15%;
            border: 5px solid #FFEBC9;
            background-color: #FFEBC9;
        }
        .modal-content {
            width: 80%;
            margin: 0 auto;
        }
        .cancel {
          //  display: inline;
            height: 5%;
            float: right;
            padding: 1%;
        }
        .select-options {
            width: 100%;
            height: 40px;
            font-size: 20px;
            font-weight: bold;
            margin: 0 auto;
        }
        .visit-form {
            display: none;
        }
        .content-form {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            border: 2px solid black;
        }
        .name {
            width: 90%;
            height: 20px;
        }
        .btn-create-card {
            width: 100%;
            height: 50px;
            font-size: 35px;
            margin: 0 auto;
        }
        .photo-doctor {
           // position: absolute;
          //  z-index: 9;
            margin: 5%;
        }
        .card-container {
           // z-index: 10;
            cursor: move;
        }
        .name-patient {
            background-color: #FFEBC9;
            border: 2px solid black;
            font-size: 20px;
        }

        .photo {
            border: 2px solid black;
        }
        .describe-visit {
            background-color: #FFEBC9;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            border: 2px solid black;
        }
        .more {
            padding: 10px;
        }

        .showForm {
            display:block;
        }
