
    .container {
        margin: 20px 50px;
    }
  .blocks {
      margin: 50px 450px;
      display: flex;
      justify-content: space-between;
  }
  .top {
      color: #16a085;
      text-decoration: none;
  }
  .photo-container {
      margin: 0 auto;
  }
  .image {
     width: 1250px;
  }
  .h4 {
      margin: 0 400px;
      padding: 30px;
      text-align: center;
  }
  .text {

      font-size: 18px;
  }
  .button {
      height: 40px;
      width: 150px;
      text-align: center;
      padding-top: 12px;
      background-color: #16a085;
      margin: 0 auto;
  }
  .button-a {
      font-size: large;
      color: #fff;
      text-decoration: none;
  }

  .footer {
      margin: 100px;
      padding: 12px;
      text-align: right;
  }


