

    .our-form {
        width: 200px;
        height: 70px;
        background-color: yellow;
    }
    .label {
        display: block;
        text-align: center;
    }
    .price {
        width: 150px;
    }
   /* .price:focus {
        border: 5px solid green;
    }*/
    .hidden {
        display: none;
    }