

    .my-table {
        width: 1192px;
        height: 736px;
        border: #3a3965 solid 25px;
        font-family: AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier, sans-serif;
        font-size: 16px;
        color: #484848;
        border-collapse: collapse;
        border-spacing: 0;
    }
    .data {
        width: 310px;
        height: 69px;
        text-transform: uppercase;
        text-align: center;
        border: 2px solid #d9d9d9;
    }
    .choose {
        color: #484848;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .pricing {
        font-size: 30px;
        color: #484848;
        text-transform: uppercase;
        margin-top: 0;

    }
    .data-plan-row {
        background-color: #fafafa;
    }
    .header-standard {
        font-size: 24px;
        font-weight: bold;
        color: white;
        background-color: #89c331;
        border: 2px solid #89c331;
    }
    .header-ultimate {
        font-size: 30px;
        font-weight: bold;
        color: white;
        background-color: #f04a56;
        border: 2px solid #f04a56;
    }
    .header-premium {
        font-size: 24px;
        font-weight: bold;
        color: white;
        background-color: #20807c;
        border: 2px solid #20807c;
    }
    .clearfix {
        content: "";
        clear: both;
    }
    .row-price {
        background-color: #fafafa;
    }
    .dollar {
        font-size: 60px;
        font-weight: bold;
        margin: 15px 0 15px 10px;
        float: left;
        display: block;
        padding-left: 25px;
    }
    .cent-period {
        display: inline-block;
        width: 116px;
        margin: 10px 0;
        float: left;
    }
    .cent {
        font-size: 24px;
        font-weight: bold;
        margin: 15px 0 0 0;
        float: left;
        display: block;
    }
    .period {
        font-size: 18px;
        margin: 0;
        float: left;
    }
    .row-bandwidth {
        background-color: #e3e3e3;
    }
    .row-support {
        background-color: #e3e3e3;
    }
    .row-users {
        background-color: #e3e3e3;
    }
    .row-storage {
        background-color: #f2f2f2;
    }
    .row-email {
        background-color: #f2f2f2;
    }
    .row-products {
        background-color: #f2f2f2;
    }
    .fas, .far {
        font-size: 24px;
        color: #848484;
        padding-right: 10px;
    }

    button {
        width: 192px;
        height: 49px;
        border: 0;
    }
    .data-button {
        width: 310px;
        height: 99px;
        text-align: center;
        background-color: #f2f2f2;
        border: 2px solid #d9d9d9;
    }
    .data-but-cont {
        background-color: #dddddd;
    }
    .button-contact {
        background-color: #484848;
        font-size: 18px;
        color: #f4f4f4;
        border-radius: 5px;
        box-shadow: 0 5px 0 #484848;
    }
    .button-contact:hover {
        box-shadow: 2px 2px whitesmoke, 4px 4px #484848;
        top: -4px;
        left: -4px;
    }
    .data-but-stand .data-but-pre {
        background-color: #eeeeee;
    }
    .data-but-ult {
        background-color: #f4f4f4;
    }
    .button-standard {
        background-color: #89c331;
        font-size: 18px;
        color: #f4f4f4;
        border-radius: 5px;
        box-shadow: 0 5px 0 #89c331;
    }
    .button-standard:hover {
        box-shadow: 2px 2px whitesmoke, 4px 4px #89c331;
        top: -4px;
        left: -4px;
    }
    .button-ultimate {
        background-color: #f04a56;
        font-size: 18px;
        color: #f4f4f4;
        border-radius: 5px;
        box-shadow: 0 5px 0 #f04a56;
    }
    .button-ultimate:hover {
        box-shadow: 2px 2px whitesmoke, 4px 4px #f04a56;
        top: -4px;
        left: -4px;
    }
    .button-premium {
        background-color: #20807c;
        font-size: 18px;
        color: #f4f4f4;
        border-radius: 5px;
        box-shadow: 0 5px 0 #20807c;
    }
    .button-premium:hover {
        box-shadow: 2px 2px whitesmoke, 4px 4px #20807c;
        top: -4px;
        left: -4px;
    }